# Ignore dependencies
/node_modules
/vendor
/venv
/pipenv


# Ignore built output
/build
/dist
/out

# Ignore IDE or editor files
/.idea
/.next
/.vscode
/.next
/.DS_Store
/Thumbs.db

# Ignore environment-specific files
/.env
.env.local

# Ignore logs and temporary files
*.log
/tmp
/cache

# Ignore personal or system-specific files
*.bak
*~
*.swp
